# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
venv_whisper/
venv_whisperx/
ENV/
env.bak/
venv.bak/
venv_whisper.bak/
venv_whisperx.bak/

# Distribution / packaging
.Python
*.egg-info/
dist/
build/
.eggs/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# VS Code settings
.vscode/

# TXT files 
cmd_git.txt
cmd_tangible.txt

# lib folder
lib

# ENV File
.env
